{#def form_config, extra_context #}
{
"available_requests":
{
{% for request_name, request in extra_context.allowed_requests.items() %}
    "{{ request_name }}": {
        "type": {{ request.type|tojson|safe }},
        "status": {{ request.status|tojson|safe }},
        "receiver": {{ request.receiver|tojson|safe }},
        "actions": {{ request.actions|tojson|safe }}
    }
{% endfor %}
},

"form_config":
{
{% for request_name, request in form_config["allowed_requests"].items() %}
    "{{ request_name }}": {
        "type": {{ request.type|tojson|safe }},
        "status": {{ request.status|tojson|safe }},
        "receiver": {{ request.receiver|tojson|safe }},
        "actions": {{ request.actions|tojson|safe }}
    }
{% endfor %}
}
}