{#def record #}
available_requests=
{% for request in record.requests %}
request_id: {{ request.id }}
{% if request['created_by'] %}
    created_by:
    {% for ref_obj_name, ref_object_value in request['created_by'].items()%}
        {{ ref_obj_name }}: {{ ref_object_value }}
    {% endfor %}
{% endif %}
{% if request['receiver'] %}
    receiver:
    {% for ref_obj_name, ref_object_value in request['receiver'].items()%}
        {{ ref_obj_name }}: {{ ref_object_value }}
    {% endfor %}
{% endif %}
{% if request['topic'] %}
    topic:
    {% for ref_obj_name, ref_object_value in request['topic'].items()%}
        {{ ref_obj_name }}: {{ ref_object_value }}
    {% endfor %}
{% endif %}
{% if request['description'] %}
    description: {{ request['description'] }}
{% endif %}
{% endfor %}