{# -*- coding: utf-8 -*-

  This file is part of Invenio.
  Copyright (C) 2016-2025 CERN.

  Invenio is free software; you can redistribute it and/or modify it
  under the terms of the MIT License; see LICENSE file for more details.
#}

{#
  Renders the request details page when publishing a draft and including it in a community.
#}

{# def
  user_avatar,
  invenio_request,
  record_ui,
  record,
  checks,
  permissions,
  is_preview,
  is_draft,
  is_published,
  has_draft,
  request_is_accepted,
  files,
  media_files,
  is_user_dashboard,
  custom_fields_ui,
  user_communities_memberships,
  include_deleted,
  d,
  model,
  record_detail_template
#}

{% extends "semantic-ui/invenio_requests/details/index.html" %}

{% set active_dashboard_menu_item = 'requests' %}
{% set active_community_header_menu_item = 'requests' %}

{%- block request_header %}
  {% if is_user_dashboard %}
    {% set back_button_url = url_for("invenio_app_rdm_users.requests") %}
  {% elif community %}
    {% set back_button_url = url_for("invenio_communities.communities_requests", pid_value=community.id) %}
  {% else %}
    {#
        if you access from a secret link there is no dashboard or community
            /access/requests/<id>?token=<token>
        back button is not rendered if there is no URL
    #}
    {% set back_button_url = "" %}
  {% endif %}
  <div class="computer-flex-header rel-mt-2">
    {% if back_button_url %}
      <div class="mb-10">
        <a href="{{ back_button_url }}"
            class="ui small button labeled icon rel-mr-1">
          <i class="ui icon left arrow" aria-hidden="true"></i>
          {{ _("Back to requests") }}
        </a>
      </div>
    {% endif %}

    <div id="request-actions" class="flex align-items-start ml-auto mb-10">
      {% if record %}
        <a href="{{record.links.self_html}}"
           class="ui small button"
           rel="noopener noreferrer" target="_blank"
           title="{{ _('Opens in new tab') }}"
        >
          {{ _("View record") }}
        </a>
      {% endif %}
    </div>
  </div>
{%- endblock request_header %}

{% block request_timeline %}
  <div
    class="ui container rdm-tab-container fluid rel-pt-2 ml-0-mobile mr-0-mobile"
    id="request-community-submission-tab-container"
  >
    <div
      class="ui secondary pointing menu rdm-tab-menu"
      id="request-community-submission-tab"
    >
      <a
        class="active item"
        data-tab="conversation"
        role="tab"
        aria-selected="true"
        aria-controls="conversation-tab-panel"
        id="conversation-tab"
      >
        {{ _("Conversation") }}
      </a>
      {% if record_ui %}
        <a
          role="tab"
          class="item"
          data-tab="record"
          aria-selected="false"
          aria-controls="record-tab-panel"
          id="record-tab"
        >
          {{ _("Record") }}
        </a>
      {% endif %}

      {% if checks %}
        <a
          role="tab"
          class="item"
          data-tab="checks"
          aria-selected="false"
          aria-controls="checks-tab-panel"
          id="checks-tab"
        >
          <i class="{% include 'invenio_checks/requests/overall_severity_level.html' %}"></i> {{ _("Checks") }}
        </a>
      {% endif %}
    </div>

    <div
      class="ui bottom attached tab segment active borderless p-0"
      data-tab="conversation"
      role="tabpanel"
      aria-labelledby="conversation-tab"
      id="conversation-tab-panel"
    >
      {{ super() }}
    </div>

    {% if checks %}
      <div
        class="ui bottom attached tab segment borderless"
        data-tab="checks"
        role="tabpanel"
        aria-labelledby="checks-tab"
        id="checks-tab-panel"
        hidden="hidden"
      >
        {% include "invenio_checks/requests/details.html" %}
      </div>
    {% endif %}

    {# The record tab content needs to be last since the HTML structure is complex and breaks following tab contents #}
    
    {% if record_ui %}
      <div
        class="ui bottom attached tab segment borderless"
        data-tab="record"
        role="tabpanel"
        aria-labelledby="record-tab"
        id="record-tab-panel"
        hidden="hidden"
      >
        {% set use_theme_basic_template = false %}
        {% set preview_submission_request = true %}
        {% if record_detail_template %}
          {% include record_detail_template %}
        {% else %}
          <div class="ui message warning">
            {{ _("Record preview not available for this record type.") }}
          </div>
        {% endif %}
      </div>
    {% endif %}

  </div>
{% endblock request_timeline %}


{% block javascript %}
  {% include config.THEME_JAVASCRIPT_TEMPLATE %}
  {{ webpack['oarepo_requests_ui_request_detail.js'] }}
{% endblock %}